.s-card {
  padding: 10px;
  height: 100%;
  &_wrapper {
    background-color: #262626;
    width: 200px;
    height: 300px;
    margin: 10px;
    border-radius: 30px;

    transition: all 0.4s;

    &:hover {
      cursor: pointer;
      box-shadow: 0px 4px 13px 2px rgba(252, 252, 252, 0.13);

      .s-card_image_img {
        transform: scale(0.2);
      }
    }
  }
  &_image {
    display: flex;
    align-items: center;
    justify-content: center;
    &_img {
      height: 200px;
    }
  }
  &_info {
    color: #eaeaea;
    height: 30%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &_name {
    }
    &_rating {
    }
  }
}
