<div class="s-card_wrapper">
  <div class="s-card">
    <button
      mat-icon-button
      color="warn"
      aria-label="Example icon-button with a heart icon"
      class="s-card_edit-btn"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <div class="s-card_image">
      <img
        src="{{ product.imageLink }}"
        alt="Alcohol Picture"
        class="s-card_image_img"
      />
    </div>
    <div class="s-card_info">
      <div class="s-card_info_name">{{ product.name }}</div>
      <div class="s-card_info_rating">{{ product.rating }}</div>
    </div>
  </div>
</div>
