.card-modal {
  &_header {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &_img-box {
    &_image {
      max-height: 400px;
      max-width: 400px;
    }
  }
  &_btn-close {
    position: relative;
    width: 25px;
    height: 25px;
    cursor: pointer;
    &_leftright {
      height: 4px;
      width: 25px;
      position: absolute;
      background-color: #f4a259;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: all 0.3s ease-in;
      margin-top: 10px;
    }
    &_rightleft {
      height: 4px;
      width: 25px;
      position: absolute;
      background-color: #f4a259;
      border-radius: 2px;
      transform: rotate(-45deg);
      transition: all 0.3s ease-in;
      margin-top: 10px;
    }
    &:hover .card-modal_btn-close_leftright {
      transform: rotate(-45deg);
      background-color: #f25c66;
    }
    &:hover .card-modal_btn-close_rightleft {
      transform: rotate(45deg);
      background-color: #f25c66;
    }
    &:hover label {
      opacity: 1;
    }
  }
}
